/* CSS for DashboardPage */

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Layout */
body {
  font-family: 'Roboto', sans-serif;
  background: url("../assets/body-background.png"), linear-gradient(to right, purple, blue);
  background-size: cover;
  min-height: 100vh;
}

/* Content */
.dashboard-content {
  padding: 0px 16px 16px 16px;
  background-color: transparent;
  overflow: auto;
  min-height: calc(100vh - 64px);
}

/* Inner Layout */
.inner-layout {
  background-color: transparent;
}

/* Card */
.dashboard-card {
  width: 100%;
  margin-bottom: 16px;
  background-color: rgba(12, 35, 55, 0.11);
  border-color: #3d2873;
  color: #2accb6;
  border-radius: 15px;
  box-shadow: 0px 6px 12px rgba(31, 8, 77, 1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
/* Element | http://localhost:5173/overview/reports */


padding-bottom: 24px;
padding-right: 24px;
padding-top: 24px;
padding-left: 24px;

}

.dashboard-card:hover {
  transform: scale(1.02);
}

.dashboard-card .ant-card-head {
  border-bottom: 1px solid #18b2ff;
}

.dashboard-card .ant-card-head-title {
  color: #2accb6;
}

/* Responsive Design */
@media (max-width: 768px) {
  .dashboard-card {
    border-radius: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .dashboard-card {
    border-radius: 12px;
  }
}

@media (min-width: 1025px) {
  .dashboard-card {
    border-radius: 15px;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
